<div class="container">
    <div class="jumbotron hidden-xs">
        <div class="container">
            <div class="page-header text-center">
                <h1>Find Smiley</h1>
            </div>
            <p class="text-center">Tjek om virksomheder lever op til hygiejne og selvkontrol krav.</p>
            <p class="text-center">
                <span class="smiley smiley-lg smiley-1"></span>
                <span class="smiley smiley-lg smiley-2"></span>
                <span class="smiley smiley-lg smiley-3"></span>
                <span class="smiley smiley-lg smiley-4"></span>
            </p>
        </div>
    </div>
</div>

<div class="toolbar">
    <div class="container">
        <form class="form">
            <div class="form-group">
                <input type="search" ng-model="searchQuery.keywords" ng-change="search()" class="form-control input-lg" placeholder="Virksomhedsnavn, postadresse, postnummer, by" />
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div ng-repeat="document in searchResult.documents" class="virksomhed">
        <div class="row">
            <div class="col-sm-6">
                <span ng-class="{ 'smiley smiley-elite pull-right': document.harEliteSmiley }"></span>
                <h4>{{document.navn}}</h4>
                <p>{{document.adresse}}, {{document.postnummer}} {{document.by}}</p>
            </div>
            <div class="col-sm-6">
                <div class="kontrolrapporter clearfix">
                    <h4 class="text-muted visible-xs">Kontrolrapporter</h4>
                    <div ng-repeat="kontrolrapport in document.kontrolrapporter" class="text-center col-xs-3 kontrolrapport">
                        <a href="{{kontrolrapport.url}}">
                            <span class="smiley smiley-sm smiley-{{kontrolrapport.resultat}}"></span><br />
                            <time>{{kontrolrapport.kontroldato | amDateFormat:'DD. MMMM YYYY'}}</time>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>