<div class="container">
    <div class="jumbotron hidden-xs">
        <div class="page-header text-center">
            <h1>Find Smiley</h1>
        </div>
        <p class="text-center">Tjek om virksomheder lever op til hygiejne og selvkontrol krav.</p>
        <p class="text-center">
            <span class="smiley smiley-lg smiley-1"></span>
            <span class="smiley smiley-lg smiley-2"></span>
            <span class="smiley smiley-lg smiley-3"></span>
            <span class="smiley smiley-lg smiley-4"></span>
        </p>
    </div>
</div>

<div class="toolbar">
    <div class="container">
        <form class="form">
            <div class="form-group">
                <input type="search" focus ng-model="searchQuery.keywords" ng-change="search()" class="form-control input-lg" placeholder="Virksomhedsnavn, postadresse, postnummer, by" />
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div ng-show="isWorking" class="working">
    </div>
    <div ng-show="!isWorking" ng-repeat="result in searchResult.results" class="virksomhed">
        <div class="row">
            <div class="col-sm-6">
                <span ng-class="{ 'smiley smiley-elite pull-right': result.virksomhed.harEliteSmiley }"></span>
                <h4>{{result.virksomhed.navn}} ({{result.distance | number: 2 }}km)</h4>
                <p>{{result.virksomhed.postadresse.adresse1}}, {{result.virksomhed.postadresse.postnummer}} {{result.virksomhed.postadresse.by}}</p>
            </div>
            <div class="col-sm-6">
                <div class="kontrolrapporter clearfix">
                    <h4 class="text-muted visible-xs">Kontrolrapporter</h4>
                    <div ng-repeat="kontrolrapport in result.virksomhed.kontrolrapporter" class="text-center col-xs-3 kontrolrapport">
                        <a href="http://www.findsmiley.dk/KontrolRapport.aspx?id={{kontrolrapport.virksomhedId}}&akt={{kontrolrapport.akt}}">
                            <span class="smiley smiley-sm smiley-{{kontrolrapport.resultat}}"></span><br />
                            <time>{{kontrolrapport.kontroldato | amDateFormat:'DD. MMMM YYYY'}}</time>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
