<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bocami.Practices.Authorization" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Decorator" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query.Authorization" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query.SimpleInjector" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query.Validation" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Query.WebApi" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.Validation" version="1.0.0" targetFramework="net451" />
  <package id="Bocami.Practices.WebApi" version="1.1.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SimpleInjector" version="2.5.2" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.5.2" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.5.2" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi.WebHost.QuickStart" version="2.5.2" targetFramework="net451" />
  <package id="WebActivator" version="1.4.4" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
</packages>